/* .header {
  background-image: linear-gradient(
    to bottom,
    rgb(64, 138, 186),
    rgb(253, 253, 191)
  );
  display: flex;
  justify-content: center;
  color: rgb(32, 32, 32);
}
body {
  background-color: #424547;
} */
